{% extends 'base.html.twig' %}

{% block content %}
  <a class="push-right" href="/">to index</a>
  <h1 id="top">{{article.title}}</h1>

  <h2 id={{article.url}}><pre>{{article.url}}</pre></h2>
  <div>{{article.created_at}}</div>
  <div>
    {{article.content|raw}}
  </div>
  <a class="push-right" href="{{path_for('index')}}">to index</a>
  <a href="#top">top</a>
{% endblock %}
